.footer {
    background-color: var(--color-gray-5);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p,
.footer a {
    font-weight: 600;
    font-size: 1.9rem;
    color: var(--secondary-light-color);
    text-align: center;
}


@media (max-width:550px) {
    .footer {
        position: fixed;
        bottom: 60px;
        width: 100%;
        border-bottom: 1px solid var(--color-gray-2);
    }
}

@media (max-width:400px) {

    .footer p,
    .footer a {
        font-size: 1.7rem;
    }
}