.sidebarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    z-index: 1000;
    right: 30px;
    top: 125px;
}

.link {
    text-decoration: none;
    background-color: var(--color-gray-4);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-1);
}


.link svg {
    width: 25px;
    height: 25px;
    color: var(--color-gray-2);
}

.focus {
    background-color: var(--secondary-light-color);
}

.focus svg {
    color: white;
}


@media (max-width:1035px) {
    .sidebarContainer {
        top: 300px;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
    }
}

@media (max-width:550px) {
    .sidebarContainer {
        background-color: var(--color-gray-5);
        flex-direction: row;
        justify-content: space-evenly;
        height: fit-content;
        padding: 10px 2px;
        bottom: 0;
        width: 100%;
        left: 0;
        top: unset !important;
        right: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .link {
        width: 40px;
        height: 40px;
    }

    .link svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width:350px) {
    .sidebarContainer {
        padding: 10px 0;
    }

    .link {
        width: 40px;
        height: 40px;
    }

    .link svg {
        width: 20px;
        height: 20px;
    }
}