.pageTitle {
    width: 100%;
    margin: 60px auto;
    position: relative;
}

.secondaryTitle {
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9rem;
    letter-spacing: 2px;
    color: var(--color-gray-5);
    text-align: center;
    font-weight: 800;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.primaryTitle {
    width: 100%;
    text-align: center;
    position: absolute;
    color: var(--main-light-color);
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 800;
    left: 50%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
}

.primaryTitle span {
    color: var(--secondary-light-color);
}

@media (max-width:600px) {
    .secondaryTitle {
        font-size: 7rem;
    }

    .primaryTitle {
        font-size: 5rem;
    }
}

@media (max-width:470px) {
    .secondaryTitle {
        font-size: 6rem;
    }

    .primaryTitle {
        font-size: 4.6rem;
    }
}

@media (max-width:410px) {
    .secondaryTitle {
        font-size: 5rem;
    }

    .primaryTitle {
        font-size: 4rem;
    }
}